.menu{ width:1102px;
      margin:0 auto;
      
}

#menu {
    background:#800000;
    float: left;
    list-style: none;
    margin:0;
    padding:0;
    width: 100%;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
	border-style: solid;
   }

#menu ul {
	padding:0px;
	margin:0px;
	background-color:#EDEDED;
	list-style:none;
}   

#menu ul li { display: inline; }

#menu a{
    background:#800000;
    color: #ffe;
    display: block;
    float: left;
    margin: 0;
    padding: 6px 25px;
    text-decoration: none;
    font-weight: normal;
    
}

#menu a:hover {
    background: #B22222;
    color: #fff;
   
    
}

#topo img#icone {
    position: absolute;
    left:970px ;
    top: 120px;
}