@charset "utf-8";
/*CSS Documents*/
body{
    margin:0;
    padding:0;
    background:#DCDCDC;
    
}

#topo{margin:0 auto;
      height: 180px; 
      width: 1100px; 
      border: 1px #ccc solid; 
      background:#fff;
      border-bottom: 2px #336633 solid;
      box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}

  
#rodape {
      margin:0 auto;
      height: 20px; 
      width: 1100px; 
      border: 1px #ccc solid; 
      background:#fff;
      border-top: 2px #336633 solid;
      font-family: Arial;
      font-size:12px;
      text-align: center;
      padding: 0px;
      box-shadow: 0px 0px 10px rgba(0,0,0,.2);
}    

#conteudo {
    width:1100px; 
    height:auto;
    border: 1px #D3D3D3 solid;
    margin:0 auto;
    background: #87CEEB;
    clear: both;
    box-shadow: 0px 0px 10px rgba(0,0,0,.2);
	
	/*background-image: url('../imagem/ceu.jpg');
	background-position: center;
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-size:cover;
      */   
}
#conteudo h2{
    font-family: Arial, sans-serif;
	background-color: blue;
}
#conteudo hr{
    border: 1px #D3D3D3 solid;
}
#cont { 
    margin: 10px;
    font-size: 12px; 
    padding: 0px;
    
}


#contcad { 
    position: absolute;
    left: 995px;
    width:80px ;
    top: 230px;
    font-size: 14px;   
    border-left: 1px #ccc solid;
        
}
#contcad li{
    background:#800000;
    list-style: none; 
    
}
#contcad a{
    padding: 6px;
    display: block;
    text-decoration: none;
    color:#fff; 
    margin:0  auto;
    
}

#contcad a:hover {
    background: #B22222;
    color: #fff;
    padding: 6px;
}

#butaopas {
    margin-left: 800px;
    color: #708090; 
}

#butaopas a{
    padding: 8px;
    font-size: 11pt;
    text-decoration: none;
    color:#708090;
}
#butaopas a:hover{
    text-decoration: none;
    color:#2F4F4F;
}

#butaotax {
    
    margin-left: 690px;
    color: #708090; 
}

#butaotax a{
    font-size: 11pt;
    padding: 8px;
    text-decoration: none;
    color:#708090;
}
#butaotax a:hover{
    text-decoration: none;
    color:#2F4F4F;
}

   
#busca{ 
    width:800px ;
    margin-left: 250px;
    font-size: 12px;   
    border-left: 1px #ccc solid;
    margin-top:-30px;
}

.imag {
    position: relative ; 
    margin-top: 15px;
    margin-left: 15px;
    width:100px;
    height:85px;    
}
table#optabela td.esptd {
     width: 180px;
}

.menu{ width:1102px;
      margin:0 auto;
      
}

#menu ul {
	padding:0px;
	margin:0px;
	background-color:#EDEDED;
	list-style:none;
}

#menu {
    background: #dcdcdc;
    float: left;
    list-style: none;
    margin:0;
    padding:0;
    width: 100%;
   }
   
#menu li{
    float: left;
    font-family:"Lucida Sana Unicode", "Bitstream Vera Sana", "Trebuchet Unicode MS", "Lucida Grande";
    font-size: 11pt;
    margin-left:10px;
    padding:0;
}   
#menu ul li { display: inline; }
#menu a{
    background:#dcdcdc;
    color: #000000;
    display: block;
    float: left;
    margin: 0;
    padding: 6px 25px;
    text-decoration: none;
    font-weight: normal;
    
}

#menu a:hover {
    background: #B22222;
    color: #fff;
   
    
}

#topo img#icone {
    position: absolute;
    left:970px ;
    top: 120px;
}
form {
    /* Apenas para centralizar o form na página */
    margin: 0 auto;
    width: 400px;
    /* Para ver as bordas do formulário */
    padding: 1em;
    border: 1px solid #CCC;
    border-radius: 1em;
}
form div + div {
    margin-top: 1em;
}
label {
    /*Para ter certeza que todas as labels tem o mesmo tamanho e estão propriamente alinhadas */
    display: inline-block;
    width: 90px;
    text-align: right;
}
#tb{
	
	width:500px;
}

#butao {
	width:100%;
	text-align: center;
    display: block;
    margin:0 auto;
    color: #708090; 
}

#butao a{
    font-size: 11pt;
    padding: 8px;
    text-decoration: none;
    color:#708090;
}
#butao a:hover{
}

/*
table#tab {
	border:2px solid #DCDCDC;
    margin: auto;
    margin-top: 0px;
    width:800px;
    border-spacing: 1px;
  
    
}
table#tab td {
 padding: 2px;   
 margin: 0 auto;
 background: #000000;
 border:1px;
 
 
 }
 */
 /*table#optabelab td.topo{
     background:#A9A9A9;
     text-align: center;
     font-size: 12pt;
     padding: 0px 
 }*/